doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='/images/favicon.png')
  title Public Code
  link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
  link(rel='stylesheet' type='text/css' href='/css/plugins.css')
  link(rel='stylesheet' type='text/css' href='/revolution/css/settings.css')
  link(rel='stylesheet' type='text/css' href='/revolution/css/layers.css')
  link(rel='stylesheet' type='text/css' href='/revolution/css/navigation.css')
  link(rel='stylesheet' type='text/css' href='/type/type.css')
  link(rel='stylesheet' type='text/css' href='/css/styleHeader.css')
  link(rel='stylesheet' type='text/css' href='/css/color/purple.css')
  link(href='https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i&display=swap' rel='stylesheet')
  link(rel='stylesheet' type='text/css' href='/css/font/font2.css')
.content-wrapper
nav.navbar.absolute.transparent.inverse-text.navbar-hover-opacity.navbar-expand-lg
  .container
    .navbar-brand
      a(href='index.html')
        img.logo-dark(src='#', srcset='/images/logo.png 1x, /images/logo@2x.png 2x', alt='')
        img.logo-light(src='#', srcset='/images/logo-light.png 1x, /images/logo-light@2x.png 2x', alt='')
    .navbar-other.ml-auto.order-lg-3
      ul.navbar-nav.flex-row.align-items-center(data-sm-skip='true')
        li.nav-item
          .navbar-hamburger.d-lg-none.d-xl-none.ml-auto
            button.hamburger.animate.plain(data-toggle='offcanvas-nav')
              span
        li.dropdown.search-dropdown.position-static.nav-item
          a.collapse-toggle(href='#', role='button', data-toggle='collapse', data-target='.search-dropdown-menu', aria-haspopup='true', aria-expanded='false')
          .dropdown-menu.search-dropdown-menu.w-100.collapse
            .form-wrapper
              form.inverse-text
                input.form-control(type='text', placeholder='Search something')
              // /.search-form
              i.dropdown-close.jam.jam-close
            // /.form-wrapper
        li.nav-item
          button.plain(data-toggle='offcanvas-info')
      // /.navbar-nav
      // /.navbar-other
      .navbar-collapse.offcanvas-nav
        .offcanvas-header.d-lg-none.d-xl-none
          a(href='index.html')
            img(src='#', srcset='/images/logo-light.png 1x, /images/logo-light@2x.png 2x', alt='')
          button.plain.offcanvas-close.offcanvas-nav-close
            i.jam.jam-close
        ul.navbar-nav.ml-auto
          li.nav-item
           a#titleIndex.nav-link(href='/')
  // /.widget
// /.offcanvas-info
.wrapper.image-wrapper.bg-image.page-title-wrapper.inverse-text(data-image-src='/images/art/bg9.jpg')
  .container.inner.text-center
    .space90
    h1.page-title صفحه ثبت نام به پنل مدیریتی پابلیک کد
    p.lead اگر اکانت ندارید ثبت نام بکنید تا از امکانات ما استفاده بنمایید
  // /.container

                

script(src='/js/jquery.min.js')
script(src='/js/popper.min.js')
script(src='/js/bootstrap.min.js')
script(src='/revolution/js/jquery.themepunch.tools.min.js')
script(src='/revolution/js/jquery.themepunch.revolution.min.js')
script(src='/revolution/js/extensions/revolution.extension.actions.min.js')
script(src='/revolution/js/extensions/revolution.extension.carousel.min.js')
script(src='/revolution/js/extensions/revolution.extension.kenburn.min.js')
script(src='/revolution/js/extensions/revolution.extension.layeranimation.min.js')
script(src='/revolution/js/extensions/revolution.extension.migration.min.js')
script(src='/revolution/js/extensions/revolution.extension.navigation.min.js')
script(src='/revolution/js/extensions/revolution.extension.parallax.min.js')
script(src='/revolution/js/extensions/revolution.extension.slideanims.min.js')
script(src='/revolution/js/extensions/revolution.extension.video.min.js')
script(src='/js/plugins.js')
script(src='/js/scripts.js')
script(src='/js/homeString.js')
